.home{
    flex-grow: 1;
}
.text-home{
    margin-block-end:em(10px);
}
.cuisine-type-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
    margin-block-end:em(10px);
    .cuisine-type{
        text-align: center;
        border-radius: em(5px);
        font-size: rem(30px);
        letter-spacing: 1.2px;
        color:white;
        cursor: pointer;
        @include aspect-ratio(10,14);
        .flach{
            background:rgba(13, 13, 13, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h3{
            font-weight: 600;
        }
    }
    .cuisine-type:hover{
        .flach{
            background:rgba(13, 13, 13, 0.2);
        }
        h3{
            font-weight: 600;
        }
    }
}
.where-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:20px;
    margin-block-end:em(10px);
    .where img{
        border-radius: 10px;
    }
    .where img:hover{
        cursor: pointer;
        transform: scale(1.02);
        transition: .4s;
    }
}
