

.home{
    flex-grow: 1;
}
.text-home{
    // padding-inline-start: em(20px);
    margin-block:em(10px);//change...
}
.cuisine-type-container{
    // padding-inline-start:em(30px);
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 420px;
    gap:20px;
    
    .cuisine-type{
        text-align: center;
        border-radius: em(5px);
        font-size: rem(30px);
        letter-spacing: 1.2px;
        color:white;
        cursor: pointer;
        
        @include aspect-ratio(1,3);
        .flach{
            background:rgba(13, 13, 13, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h3{
            // margin-block-start:200px;
            // margin-inline-start:20px;
            font-weight: 600;
            // background:rgba(61, 0, 0, 0.3);
            // background:rgba(13, 13, 13, 0.45);
        }
    }
    .cuisine-type:hover{
        // transform: scale(1.01);
        // font-size: rem(40px);
        // transition:.4s ;
        .flach{
            background:rgba(13, 13, 13, 0.2);
            
        }
        h3{
            // margin-inline-start:20px;
            font-weight: 600;
            // background:rgba(13, 13, 13, 0.15);
            // background: none;
            // font-size: rem(40px);
            // color:rgb(255, 230, 0);
            // color:rgb(1, 156, 167);
        }
    }
    
}
.where-container{
    display:grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:20px;
    
    // @include aspect-ratio(1,3);
    .where img{
        border-radius: 10px;
    }
}
