.user-profile {
    // width:100%;
    .welcome-msg {
        margin-bottom: rem(30px);
        font-family: lato;
        text-align: center;
        background-color: #ecf2fa;
        border-radius: 5px;
        :first-child {
            margin-right: 1rem;
        }
    }

    .user-profile-options {
        text-align: center;
        h3 {
            display: inline;
            cursor: pointer;
        }
        > * {
            margin: 0 rem(10px);
        }
    }
}

@media (max-width:500px) {
    .user-profile{
        margin-block-start: 160px;
    }
    
}
