.user-profile {
    .user-orders {
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        tr th,
        td {
            text-align: center;
        }
        td {
            padding: 0.5rem;
        }
        th {
            text-align: center;
            border: 1px solid #ddd;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #f54f6d;
            color: white;
        }
    }

    .user-profile-options {
        text-align: center;
        
        h3 {
            display: inline;
            cursor: pointer;
        }

        > * {
            margin: 0 rem(10px);
          
        }
 
    }
}
