@mixin layout-columns($Width: 960px) {
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, 1200px) //**$Width
        minmax(2rem, 1fr);
}

.main-layout {
    // background-color: antiquewhite;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-auto-flow: dense;

    > * {
        grid-column: 2;
    }

    > .full {
        grid-column: 1 / -1;
    }

    @include for-narrow-layout {
        @include layout-columns($break-narrow);
    }

    @include for-normal-layout {
        @include layout-columns($break-normal);
    }

    @include for-wide-layout {
        @include layout-columns($break-wide);
    }
}

.card-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    @media (max-width:1180px) {
        gap:20px 20px;
    }
    @media (max-width:900px) {
        gap:24px 20px;
    }
    @media (max-width:640px) {
        gap:36px 20px;
    }
    .card {
        @include aspect-ratio(4, 3);
    }

    // > *:nth-child(4n) {
    //     grid-column: span 2;
    // }

    // > *:nth-child(8n) {
    //     grid-column: span 2;
    //     grid-row: span 2;
    // }
}
