@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Fugaz;
    src: url(~@/assets/fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(~@/assets/fonts/Lato-Regular.ttf);
}