
// COLOR PALETTE
$clr1: #FF385C;
// $clr1: #ce2e6c;
$clr2: #504658;
// $clr2: #504658;
$clr3: #ffc670;
// $clr3: #fd9999;
$clr4: #fff3e6;
// $clr4: #f0decb;
$clr5: rgb(0, 75, 10);
// $clr5: #fff;
$clr6: #353530;


// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;
// $break-wide: 1200px;