.app-header{
    color:white;
    margin-block-end:2rem;
}
.app-header.other{
    background:white;
    position: sticky;
    top:0;
    z-index: 1;
    height: 100px;
    .app-header-container{
            margin-block-start: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .becomehost-burger-container{
                // background-color: yellow;
                color:rgb(13,13,13)
            }       
            .logo{
                // background-color: rgb(139, 139, 139);
                color:#FF385C
            }
            .logo span{
                color:rgb(37,37,37)
            }
    }
}
.app-header.home{
    background-image:url(~@/assets/img/back3.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 75vh;
    align-items: start;
    .app-header-container{
        margin-block-start: em(24px);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .logo span{
            color:#FF385C;
        }
        .main-real-nav{
            // width: 400px;
            font-size: rem(24px);
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }
        .main-real-nav >*:not(:last-child){
            margin-inline-end: em(10px);
        }
        .main-real-nav >*:hover{
            border-bottom: 2px solid #FF385C;
        }
    }
        .checkflex{
            align-self: flex-end;
            display: flex;
            align-items: center ;
            justify-content: space-between;
            margin-block-end: 200px;
            // padding-block-end: 200px;
            

        }
}
.screen-main-nav{
    position: fixed;
    pointer-events: all;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.main-nav{
    position: relative;
    display:flex;
    flex-direction: column;
    // align-items: flex-start;
    font-size: rem(16px);
    color:rgb(139, 139, 139);
    box-shadow: 0 0 5px 0 rgba(199, 199, 199,0.5);
    width: 100%;
    // padding-inline-start: 20px;
    // padding-block-end: em(10px);
    border-radius: 10px;
    background:white;
    .login-signup-border{
        padding-inline-start: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom:1px solid rgb(199, 199, 199);
        margin-block:em(8px)
    }
    .login-signup-border :first-child{
        color: rgb(13,13,13);
    }
    .login-signup-border >*{
        margin-block-end:em(8px)
    }
    .user-routes{
        padding-inline-start: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .user-routes >*{
        margin-block-end:em(8px)
    }
}


// .logo{
//     color:white;
//     h1{
//         font-family: Fugaz, serif;
//     }
// }
.becomehost-burger-container{
    a{
        margin-inline-end: em(10px);
    }
}
.becomehost-burger-container-1{
    // background-color: greenyellow;
    flex-direction: column;

}
.becomehost-burger-container-2{
    display: flex; 
    align-items: center;
    margin-block-end: em(10px);
    // background-color: yellow;

}
.burger-menu{
    border-radius: em(20px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 0 rgba(199, 199, 199,0.5);
    display: flex;
    align-items: center;
}
.burger{
    cursor: pointer;
    width:em(15px);
    margin-inline: em(10px);
    color: white;
}
.avatar-menu{
    margin-inline-end: em(10px);
    margin-block: em(4px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(20px);
    width: em(25px);
    height: em(25px);
    // border-radius: 50%;
    // background-color: #FF385C;
}
.user-avatar-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;  
    box-shadow: 0px 0px 3px #ff5a002b;
  }

.search-inputs{
    display: flex;
    align-items: center;
    // background-color: green;
}
.search-inputs >*{
    font-size: rem(16px);
    // width: 150px;
    width: 100%;
    height: 100%;
    color:rgb(139, 139, 139);
    border:none;
}
.search-location{
    display: flex;
    // justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    background-color: white;
    // background-color: rgb(240, 23, 23);
    border-radius: 2em 0 0 2em ;
    input{
        text-align: center;
        width: 80%;
        height: 100%;
        border:none
    }
    input:focus{
        outline:none;
    }
    label{
        align-self: center;
    }
}
// .search-location:hover{
//     background-color: rgb(233, 233, 233);
//     input{
//         background-color: rgb(233, 233, 233);
//         }
        
//     }
.search-guests{
    display: flex;
    // justify-content: center;
    background-color: white;
    // background-color: greenyellow;
    align-items: center;
    flex-direction: column;
    select{
        border:none;
        cursor: pointer;
        text-align: center;
        width:100%;
        height: 100%;
        appearance: none;
    }
    select:focus{
        outline:none;
    }
}
.search-date{
    display: flex;
    // justify-content: center;
    background-color: white;
    // background-color: rgb(84, 14, 212);
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0 2em 2em 0;
    input::-webkit-datetime-edit { display: none; }
    input::-webkit-datetime-edit-fields-wrapper { background: silver; }
    input::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
    input::-webkit-datetime-edit-month-field { color: blue; }
    input::-webkit-datetime-edit-day-field { color: green; }
    input::-webkit-datetime-edit-year-field { color: purple; }
    input::-webkit-inner-spin-button { display: none; }
    // input::-webkit-calendar-picker-indicator { display: none; }
    input::-webkit-calendar-picker-indicator { width:100%;
        cursor: pointer ;
        background: white; }
    input{
        appearance: none;
        text-align: center;
        width: 80%;
        height: 100%;
        border:none;
    }
    input:focus{
        outline:none;
    }
    label{
        align-self: center;
    }
}
// .search-inputs >*:focus{
//     // border:none;
//     outline: none;
// }
// .search-inputs :first-child{
//     border-radius: 2em 0 0 2em ;
//     color:blue
// }
// .search-inputs :last-child{
//     color:red;
//     border-radius:0 2em 2em 0 ;
// }
// .search-inputs >:nth-child(2){
//     border-right: 1px solid blue;
//     border-left: 1px solid rgb(214, 10, 170);
// }


.screen-login-signup{
    position: fixed;
    // pointer-events: none;
    z-index:1;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14,14,14,0.7);
}
.modal-login-signup{
    position: fixed;
    text-align: center;
    // pointer-events:all;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(240, 240, 240);
    border:1px solid black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    width: 500px;
    .login-signup-title-btn{
        display: flex;
        justify-content: space-between;
        .login-signup-title{
            margin-block: em(16px);
            color:gray
        }
        .btn-close{
            border:none;
            background: none;
            cursor: pointer;
            font-size:em(20px);
            font-weight: 100;
        }
    }
    .input-login-signup{
        width: 400px;
        margin-block-end:em(20px) ;
        input{
            border:none;
            border-radius: 1em;
            box-shadow: 0px 1px 1px 0px rgb(199, 199, 199);
            margin:10px 0;
            padding: 10px;
            width: 100%;
        }
        input:focus {
            outline:none;
            border-radius:1em;
            border:1px solid rgb(0, 110, 255);   
        }
    }
    .button-login-signup{
        margin-block-end: em(20px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn-login-signup{
            border:1px solid rgb(177, 177, 177);
            color:rgb(233, 233, 233);
            cursor: pointer;
            font-size:rem(18px);
            border-radius:em(10px);
            background-color: rgb(0, 132, 255);
            padding: em(6px);
        }
    }
}
