.app-footer{
    margin-block-start:30px;
    background: rgb(37, 37, 37);
    color:whitesmoke;
  
}
.app-footer-container{
    display:flex;
    flex-direction: column;
}
.coffee-container{
    display: flex;
    justify-content: space-between;
    font-size: rem(14px);
    margin-block-end:em(10px);
}
 .logo span{
     color:$clr1
 }
 .all-icons{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: rem(24px);
     cursor: pointer;
 }
 .apple-google-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 .apple-google-container :first-child{
    width:120px;
    margin-inline-end: 10px;
}
.apple-google-container :last-child{
    width: 150px;
    margin-inline-end: 20px;
}
.other-icons :not(:last-child){
     margin-inline-end: 10px;

 }   
   


.coffee-container-2{
    // border:1px solid blue;
    display: flex;
    justify-content: space-between;
    font-size: rem(14px);
    margin-block-end:em(10px);
    
    .list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .list h2{
        font-size: rem(18px);
        color:$clr3;
    }
    .list h4{
        cursor: pointer;
    }
    
}

.rights{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end:em(10px);
}
@media (max-width:700px){
    .coffee-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: rem(14px);
        margin-block-end:em(10px)
    }
    .logo{
        margin-block: 10px;
    }
    .apple-google-container {
        margin-inline-start: 10px;
    }
    .apple-google-container :first-child{
        margin-inline-end: 0;
    }
    .apple-google-container :last-child{
        width: 150px;
        margin-inline-end: 0;
    }
    .coffee-container-2{
        display: flex;
        flex-direction: column;
        width: 100%;
        scroll-margin-block-end: 0;
    }
    .coffee-container-2 h2{
        // align-self: center;
    }
    .list h4{
        font-size: rem(16px);
    }
    .list{
        margin-block-end:10px;
        border-bottom:1px solid $clr3;
    }
    .border-li{
        border:none
    }
    
}
@media (max-width:500px){
    .coffee-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: rem(14px);
        margin-block-end:em(10px);
        .logo span{
            color:$clr1
        }
        .all-icons{
            flex-direction: column;
        }
    }
    // .rights{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     margin-block-end:em(10px);
    // }

}