.app-header{
    color:white;
    margin-block-end:2rem;
}
.app-header.other{
    background:white;
    position: sticky;
    top:0;
    z-index: 1;
    width: 100%;
    height: 100px;
    transition: .3s;
    .app-header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
            .becomehost-burger-login-container{
                position: relative;
                color:rgb(13,13,13);
            }      
            .main-nav{
                position: absolute;
                width: 200px;
                right:0;
            } 
            .logo{
                color:$clr1
            }
            .logo span{
                color:rgb(37,37,37)
            }
    }
}
.app-header.home{
    background-image:url(~@/assets/img/back4.jpg);
    background-position-y: 45%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80vh;
    align-items: start;
    .app-header-container{
        margin-block-start: em(24px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo span{
            color:$clr1;
        }
        .main-search-container:hover{
            border: 1px solid $clr1;
        }
    }
}
.top .app-header.home .app-header-container{
    transition: .3s;
    margin-block-start:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:white;
    height: 100px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
    padding: 0 1rem;
        .becomehost-burger-login-container{
            color:rgb(13,13,13);
            position: relative;
            .main-nav{
                position:absolute;
                width: 200px;
                right:0;
            }
        }      
        .logo{
            color:$clr1
        }
        .logo span{
            color:rgb(37,37,37)
        } 
 }        
.main-title-container{
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    margin-block-end: 40px;
}
.main-title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
}
.text-main-title{
    font-size: rem(50px);
    font-family:Anton, serif;
    color: white;
    line-height: 1.3;
}
.text-main-title span{
    color: $clr1;
}
.text-sub-title{
    font-size: rem(60px);
    font-family:Anton, serif;
    color: white;
}
.main-search-container{
    padding-block:em(2px);
    padding-inline:em(10px);
    border-radius: em(30px);
    background-color: white;
    border:1px solid #dadada;
}
.main-search-container:hover{
    box-shadow: 0 0 5px 0 rgba(199, 199, 199,0.5) ;
}
.main-search{
    color:#353530;
    display: flex;
    align-items: center;
    width: 100%;
    input{
        font-family: lato,sans-serif;
        font-size: rem(16px);
        padding-inline-start: em(10px);
        border:none;
        width: 100%;
        height: 100%;
    }
    input:focus{
        outline: none;
    }
}
.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $clr1;
    color:#ffffff;
    cursor: pointer; 
}
.btn-search img{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.screen-main-nav{
    position: fixed;
    pointer-events: all;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.main-nav{
    position: absolute;
    display:flex;
    flex-direction: column;
    font-size: rem(16px);
    color:rgb(139, 139, 139);
    box-shadow: 0 0 5px 0 rgba(199, 199, 199,0.5);
    width: 200px;
    right:0;
    border-radius: em(10px);
    background:white;
}
.login-signup-border{
    padding-inline-start: em(20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom:1px solid rgb(199, 199, 199);
    margin-block:em(8px)
}
.login-signup-border >*{
    margin-block-end:em(8px)
}
.user-routes{
    padding-inline-start: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user-routes >*{
    margin-block-end:em(8px)
}
.becomehost-burger-login-container a{
    margin-inline-end: em(10px);
}
.becomehost-burger-login-container span{
    margin-inline-start: 8px;
}
.becomehost-burger-login{
    position: relative;
    flex-direction: column;
    position: relative;
}
.becomehost-burger{
    display: flex; 
    align-items: center;
    margin-block-end: em(10px);
}
.burger-menu{
    border-radius: em(20px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 0 rgba(199, 199, 199,0.5);
    display: flex;
    align-items: center;
}
.burger{
    cursor: pointer;
    width:em(15px);
    margin-inline: em(10px);
    color: white;
}
.avatar-menu{
    margin-inline-end: em(10px);
    margin-block: em(4px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(20px);
    width: em(25px);
    height: em(25px);
}
.avatar-menu img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;  
    box-shadow: 0px 0px 3px #ff5a002b;
  }
  .screen-login-signup{
      position: fixed;
    z-index:1;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14,14,14,0.7);
}
.modal-login-signup{
    position: fixed;
    text-align: center;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(240, 240, 240);
    border:1px solid black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    width: 400px;
}
.login-signup-title-btn{
        display: flex;
        justify-content: space-between;
}
.login-signup-title{
    margin-block: em(16px);
    color:gray
}
.btn-close{
    border:none;
    background: none;
    cursor: pointer;
    font-size:em(20px);
    font-weight: 100;
}
.input-login-signup{
    width: 300px;
    margin-block-end:em(20px) ;
    input{
        border:none;
        border-radius: 1em;
        box-shadow: 0px 1px 1px 0px rgb(199, 199, 199);
        margin:10px 0;
        padding: 10px;
        width: 100%;
    }
    input:focus {
        outline:none;
        border-radius:1em;
        border:1px solid rgb(0, 110, 255);   
    }
}
.button-login-signup{
    margin-block-end: em(20px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-login-signup{
    border:1px solid rgb(177, 177, 177);
    color:rgb(233, 233, 233);
    cursor: pointer;
    font-size:rem(18px);
    border-radius:em(10px);
    background-color: rgb(0, 132, 255);
    padding: em(6px);
}
@media (max-width:800px){
    .app-header.other{
        height:fit-content;
        .app-header-container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: center;
        }
        .logo{
            margin-block-start: 0;
            order:2;
        }
        .logo h1{
            margin: 0;
            padding:0;
            font-size: 24px;
        }
        .becomehost-burger-login-container{
            width: 100%;
            margin-block-end: 10px;
            margin-block-start: 20px;
            order:3;
        }
        .becomehost-burger-login-container span{
            display:none;
        }
        .becomehost-burger{
            display: flex;
            justify-content: space-between;
            margin-block-end: 0;
        }
        .main-search-container{
            width: 150px;
            margin-block-end: 10px;
            order:1;
        }
        .btn-search{
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $clr1;
            color:#ffffff;
            cursor: pointer; 
        }
        .btn-search img{
            border-radius: 50%;
            width: 12px;
            height: 12px;
        }
        .main-title-container{
            display:none;
        }  
    }
    .top .app-header.home .app-header-container{
        justify-content: unset;
        height: unset;
        .becomehost-burger-login-container{
            margin-block-end: 0;
            margin-block-start: 0;
        }
        .logo{
            margin-block-end: 0;
        }
        .main-search-container{
            justify-self: center;
            align-self: center;
            margin-block-end: 0;
        }
    }
    .app-header.home{
        background-image:url(~@/assets/img/back4.jpg);
        background-position-y: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 80vh;
        align-items: start;
        .app-header-container{
            margin-block-start:0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .becomehost-burger-login-container{
            order:1;
            margin-block-start: 20px;
            width: 100%;
         }
         .becomehost-burger-login-container span{
             display:none;
         }
        .becomehost-burger{
            width: 100%;
            justify-content: space-between;
        }
        .main-nav{
            width: 150px;
        }
        .logo{
            order:2;
            margin-block-end: 100px;
        }
        .logo h1{
            font-size: rem(45px);
        }
        .logo span{
            color:$clr1;
        }
        .main-search-container{
            order:3;
        }
            .main-title-container{
                align-self: center;
                justify-content: center;
            }
            .main-title{
                flex-direction: row;
                width: 100%;
                padding-block-end: em(30px);
                justify-content: space-between;
                align-items: center;
            }
                .main-title >*{ 
                font-size: rem(36px);
            }
            .text-main-title span{
                color:white;
            }
            .main-search-container:hover{
                border: 1px solid $clr1;
            }
        }
    }
@media (max-width:700px){
    .app-header.home{
        height: 60vh;
        .main-title >*{ 
            font-size: rem(28px);
        }
        .logo{
            margin-block-end: 50px;
        }
    }
}
@media (max-width:500px){
    .app-header.other{
        position: fixed;
        height: 110px;
        .app-header-container {
        .main-nav{
            width:70px;
            margin-block-start:4px;
        }
        .logo{
            display:none;
        }
        .avatar-menu{
            margin-inline-end: 0.5em;
            margin-block: 0.25em;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            width: 1em;
            height: 1em;
        }
        .user-routes{
            font-size: rem(16px);
            padding-inline: 8px;
        }
        .user-routes :last-child{
            display: none;
          
        }
        .login-signup-border{
            border:none;
            font-size: rem(16px);
            padding-inline: 8px;
        }
        .login-signup-border > *{
            margin: 0;
        }
        .modal-login-signup{
            width: 380px;
        }
    }
}
    .top .app-header.home .app-header-container{
        height:fit-content;
        transition: .3s;
        .becomehost-burger-login-container{
            margin-block-end: 10px;
            margin-block-start: 20px;
            .main-nav{
                margin-block-start: 8px;
                width:80px;
            }
        }
        .becomehost-burger{
            margin-block-end: 0;
        }
        .logo{
            display:none;
        }
        .main-search-container{
            width: 150px;
            margin-block-end: 20px;
        }
        .main-title-container{
            display:none;
        } 
        
        .login-signup-border{
            border:none;
            margin-block-end: 0;
            padding-inline-start: 12px;
        } 
        .modal-login-signup{
            width: 380px;
        }
}
    .app-header.home{
        margin-block-end: 0;
        height: 50vh;
        .becomehost-burger-login-container{
            margin-block-end: 30px;
    }
        .main-title >*{ 
            font-size: rem(22px);
        }
      
        .logo{
            margin-block-end: 30px;
        }
        .main-search-container{
            margin-block-end: 30px;
        }
        .btn-search{
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $clr1;
            color:#ffffff;
            cursor: pointer; 
        }
        .btn-search img{
            border-radius: 50%;
            width: 12px;
            height: 12px;
        }
        .avatar-menu{
            margin-inline-end: 0.5em;
            margin-block: 0.25em;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.25rem;
            width: 1em;
            height: 1em;
        }
        .main-nav{
            margin-block-start: 4px;
            width:80px;
        }
        .user-routes{
            padding-inline-start:12px
        }
        .user-routes :last-child{
            display: none;
        }
        .login-signup-border{
            border:none;
            margin-block-end:0;
            padding-inline-start: 12px;
        }
        .modal-login-signup{
            width: 380px;
        }
    }
}
@media (max-width:400px){
    .app-header.home{
        height: 40vh;
        .becomehost-burger-login-container{
            margin-block-end: 10px;
    }
        .main-title >*{ 
            font-size: rem(18px);
        }
        .logo{
            margin-block-end: 10px;
        }
        .main-search-container{
            margin-block-end: 20px;
        }
        .main-nav{
            width:70px
        }
        .user-routes{
            display: none;
        }
        .login-signup-border{
            border:none;
            font-size: rem(16px);
            padding-inline: 8px;
        }
        .login-signup-border > *{
            margin: 0;
        }
    }
}
