.app-footer{
    margin-block-start:30px;
    background: rgb(37, 37, 37);
    color:whitesmoke;
    .logo span{
        color:#FF385C
    }
}
.app-footer-container{
    display:flex;
    flex-direction: column;
}

.coffee-container{
    // border:1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .all-icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: rem(24px);
    }
    .all-icons :not(:last-child){
        margin-inline-end: 10px;
    }
    .all-icons :nth-child(1){
        // background-color: yellowgreen;
        margin-inline-end: 20px;
    }
    .all-icons :nth-child(2){
        width: em(100px);
        margin-inline-end: 20px;
        // background-color: rgb(200, 50, 205);
    }
}