.meal-filter {
    text-align: center;

    .price-filter {
        width: 30%;
        margin: 0 auto;
    }

    .meal-filter-btn {
        margin-left: rem(10px);
    }
    margin-bottom: rem(40px);
}
