.meal-filter-container {
    // text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    // .price-filter {
    //     width: 30%;
    //     margin: 0 auto;
    // }

    // .el-select {
        // margin-left: 1rem;
    // }

    .filter-btn {
        color:#C0C4CC;
        // margin-left: rem(10px);
        // margin-left: 1rem;
    }
    margin-bottom: rem(40px);
}

// --------------------------------------------------------
