.user-orders table {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    // width: 80%;

    tr,
    td {
        text-align: left;
    }
    td {
        padding: 1rem 4rem 1rem 0px;
        font-family: revert;
        // font-weight: bold;
        font-size: 0.9rem;
    }

    th {
        border-bottom: 3px solid rgba(110, 110, 110, 0.452);
        color: rgba(110, 110, 110, 0.452);
        padding: 1rem 3rem 1rem 0px;
        font-family: lato;
    }
    th:last-child {
        padding-right: 0px;
    }
    tr {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.178);
    }

    td:last-child {
        padding-right: 0px;
    }

    tr:hover :not(th) {
        background-color: rgb(238, 238, 238);
        transition: 0.2s;

        .msg {
            background-color: rgb(71, 216, 71);
        }
    }
    .msg {
        background-color: rgb(71, 216, 71);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        :hover {
            background-color: rgba(71, 216, 71, 0.63);
        }
    }
}

svg.svg-inline--fa.fa-phone-square.fa-w-14 {
    width: rem(30px);
    height: rem(30px);
    cursor: pointer;
    color: rgb(82, 82, 83);
    :hover {
        transition: 0.2s;
        color: rgba(31, 31, 32, 0.514);
        height: 40px;
        width: 40px;
    }
}

svg.svg-inline--fa.fa-envelope.fa-w-16 {
    width: rem(30px);
    height: rem(30px);
    color: rgb(82, 82, 83);
    cursor: pointer;
    :hover {
        transition: 0.2s;
        color: rgba(31, 31, 32, 0.514);
    }
}

// #bar-chart {
//     height: rem(550px) !important;
//     width:  rem(850px) !important;
//     margin: 0 auto;
// }
