.user-msg{
    position: fixed;
    z-index: 99;
    left:50%;
    top:110px;
    transform: translateX(-50%);
    width:300px;
    // border-radius: em(3px);
    // border:1px solid rgba(13,13,13,1);
    text-align: center;
    .success{
        background-color:rgb(223,242,191);
        color:rgb(79,138,55);
        border:1px solid rgba(199,199,199,0.2);
        box-shadow: 0px 0px 2px 0px rgba(199,199,199,0.8);
        border-radius: em(1px);
    }
    .danger{
        background-color:  rgb(255,186,186);
        color:rgb(216,0,12);
        border:1px solid rgba(199,199,199,0.2);
        box-shadow: 0px 0px 2px 0px rgba(199,199,199,0.8);
        // border:1px solid rgba(13,13,13,1);
        border-radius: em(1px);
        

    }
}


